<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    
    <main>
        <div id="container">
<% data.forEach(ele => { %>
    <div class="cards">
       
<p><%=ele.Date %> </p>
<p><%=ele.Cases %> </p>
    </div>
 
<% }) %>


        </div>
    </main>
</body>
</html>